#SO files
.DS_Store

# Certificates
certificates/entry-hub/client.crt
certificates/entry-hub/client.key
certificates/entry-hub/server.crt
certificates/entry-hub/server.key
certificates/entry-hub/mqtt-publisher.crt
certificates/entry-hub/mqtt-publisher.key

certificates/security-switch/client.crt
certificates/security-switch/client.key
certificates/security-switch/server.crt
certificates/security-switch/server.key

certificates/database-vault/client.crt
certificates/database-vault/client.key
certificates/database-vault/server.crt
certificates/database-vault/server.key

certificates/storage-service/client.crt
certificates/storage-service/client.key
certificates/storage-service/server.crt
certificates/storage-service/server.key

certificates/postgresql/server.crt
certificates/postgresql/server.key

certificates/certification-authority/ca.crt
certificates/certification-authority/ca.key
certificates/certification-authority/ca.srl

certificates/metrics-collector/mqtt-subscriber.crt
certificates/metrics-collector/mqtt-subscriber.key
certificates/metrics-collector/server.crt
certificates/metrics-collector/server.key

certificates/mqtt-broker/server.crt
certificates/mqtt-broker/server.key

certificates/prometheus/scraper.crt
certificates/prometheus/scraper.key

# Will be modified
user-client/keys/ssh_private_key
user-client/keys/ssh_public_key.pub
